

.login-info a{color: #fff;}
.login-info a:hover{color: #a8a8a8;}
#left-panel{background: #214e75;}
#ribbon{background: #214e75;}
nav ul li a{color: #fff;}
nav ul li a:hover{background: #fff;color: #214e75!important;}
nav ul li a:hover b{color: #214e75!important;}
nav ul .active a{background: #fff;color: #214e75!important;}
nav ul li a:active{background: #fff!important;color: #214e75!important;}
nav ul ul li>a:hover{background-color: #fff!important;}


